services:
  db:
    image: postgres:16-alpine
    container_name: ${DOCKER_NAME}-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "${DB_PORT}:5432"
    networks:
      - main

networks:
  main:
    driver: bridge
    name: ${DOCKER_NETWORK_NAME}
