services:
  redis:
    image: redis:latest
    container_name: ${DOCKER_NAME}-redis
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
    command: redis-server --appendonly yes
    networks:
      - main

networks:
  main:
    driver: bridge
    name: ${DOCKER_NETWORK_NAME}
