services:
  db:
    build:
      context: .
      dockerfile: Dockerfile.postgres
      args:
        PUID: ${UID:-1000}
        PGID: ${GID:-1000}
    container_name: ${DOCKER_NAME}-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./database/postgresql/data:/var/lib/postgresql/data/
    networks:
      - main

  redis:
    image: redis:latest
    container_name: ${DOCKER_NAME}-redis
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    command: redis-server --appendonly yes
    networks:
      - main

  tomcat:
    build: 
      context: .
      dockerfile: Dockerfile.tomcat
    container_name: ${DOCKER_NAME}-tomcat
    ports:
      - "${TOMCAT_PORT}:${TOMCAT_PORT}"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - main

networks:
  main:
    driver: bridge
    name: ${DOCKER_NETWORK_NAME}
